@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Gissa det hemliga talet</h1>
    <p>Du väntade för länge med att gissa varför spelomgången inte kunde fullföljas!</p>
    @Html.ActionLink("Börja om", "Index")
