table{
    border: 1px solid black;
    text-align:center; 
}

.tableHeader{
    background-color:black;
    font-size:120%;
    font-weight:bold;
    padding-left:12px;
    padding-right:12px;
    padding-top:2px;
    color:white; 
}

.Low{
     background-color:#ae93c9;
}

.High{
    background-color:#ffd9df;
}

.Right{
    background-color:#7fbf7f;
}

.field-validation-error{
    color:red;
    font-size:130%;
}